/* src/input.css */
@import "tailwindcss";

@theme {
  --breakpoint-xs: 425px;

  --color-bkg: #171819;
  --color-muted: #c9cbcf;
  --color-accent: #66ccc1;

  --font-sans: "Outfit", "sans-serif";

  --text-sm: clamp(1rem, calc(0.92rem + 0.39vw), 1.2rem);
  --text-sm--line-height: 1.4;

  --text-base: clamp(1.13rem, calc(0.98rem + 0.73vw), 1.5rem);
  --text-base--line-height: 1.5;

  --text-lg: clamp(1.27rem, calc(1.03rem + 1.19vw), 1.88rem);
  --text-lg--line-height: 1.4;

  --text-xl: clamp(1.42rem, calc(1.06rem + 1.8vw), 2.34rem);
  --text-xl--line-height: 1.4;

  --text-2xl: clamp(1.6rem, calc(1.08rem + 2.59vw), 2.93rem);
  --text-2xl--line-height: 1.2;

  --text-3xl: clamp(1.8rem, calc(1.08rem + 3.63vw), 3.66rem);
  --text-3xl--line-height: 1.1;

  --text-4xl: clamp(2.03rem, calc(1.08rem + 4.98vw), 4.58rem);
  --text-4xl--line-height: 1;

  --text-5xl: clamp(2.28rem, calc(0.94rem + 6.71vw), 5.72rem);
  --text-5xl--line-height: 1;

  --text-6xl: clamp(2.57rem, calc(0.78rem + 8.95vw), 7.15rem);
  --text-6xl--line-height: 1;

  --container-padding-DEFAULT: 1rem;
  --container-padding-sm: 2rem;
  --container-padding-lg: 4rem;
  --container-padding-xl: 5rem;
  --container-padding-2xl: 6rem;

  --spacing-DEFAULT: 1rem;
  --spacing-sm: 2rem;
  --spacing-lg: 4rem;
  --spacing-xl: 5rem;
  --spacing-2xl: 6rem;

  --drop-shadow-text-sm: 1px 1px 0px rgba(0, 0, 0, 0.9);
  --drop-shadow-text-md: 1px 2px 0px rgba(0, 0, 0, 0.9);
  --drop-shadow-text-lg: 1px 4px 0px rgba(0, 0, 0, 0.9);
}

@utility container {
  margin: auto;
}

@utility perspective {
  perspective: 100px;
}

@utility preserve-3d {
  transform-style: preserve-3d;
}

@utility distance-1 {
  transform: translateZ(-100px) scale(2);
}

@utility distance-2 {
  transform: translateZ(-50px) scale(1.5);
}

@utility fade-up {
  transition: transform 1s cubic-bezier(0.64, 0.04, 0.26, 0.87),
    opacity 0.8s cubic-bezier(0.64, 0.04, 0.26, 0.87);
  opacity: 0;
  transform: translate3d(0, 2rem, 0);
}

@utility faded {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
